parameters:
	ignoreErrors:
		-
			message: "#^Method Lenius\\\\LaravelEcommerce\\\\EcommerceServiceProvider\\:\\:routeConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: "#^Parameter \\#3 \\$events of class Lenius\\\\LaravelEcommerce\\\\Cart constructor expects Illuminate\\\\Contracts\\\\Events\\\\Dispatcher, mixed given\\.$#"
			count: 1
			path: src/EcommerceServiceProvider.php

		-
			message: "#^Method Lenius\\\\LaravelEcommerce\\\\Storage\\\\LaravelSession\\:\\:data\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Storage/LaravelSession.php
